<img src="https://d24cdstip7q8pz.cloudfront.net/t/ineuron1/content/common/images/final%20logo.png" height=60 alt-text="iNeuron.ai logo">

## Open MongoDB compass to visually see what each python commands does

> ![first screen](mongo_img/compass/c1.JPG)

### STEP 1: Create a DB

In [1]:
import pymongo

In [3]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "JahnaviRavi"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]

---

### Paste the default URL in highlighted area of the Compass tool as shown below and click on connect
default URL for local system:- 
```
mongodb://localhost:27017/
```

> ![new connection](mongo_img/compass/c2.JPG)

after you press connect you'll see the following screen which contains already existing databases

> ![new connection](mongo_img/compass/c3.JPG)


**NOTE** you'll not see your database untill or unless you have created first document inside it. So at present we don't have any document in our DB its name is not visible here 

You can also create a database by clicking on CREATE DATABSE button. You'll see a below screen (But we'll see eveyrthing using python)

> ![new connection](mongo_img/compass/c4.JPG)

In [4]:
# lets see what the existing list of DBs -

client.list_database_names()

['admin', 'config', 'local']

In [5]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'JahnaviRavi' not yet present OR no collection is present in the DB

In [8]:
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'JahnaviRavi')

### STEP 2: Create a collection

In [11]:
COLLECTION_NAME = "JahnaviRavi_Wardrobe"
collection = dataBase[COLLECTION_NAME]
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'JahnaviRavi'), 'JahnaviRavi_Wardrobe')

In [12]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'JahnaviRavi_Wardrobe' in Database:'JahnaviRavi' does not exists OR
    no documents are present in the collection

### STEP 3: Insert a record in the collection

In [13]:
record = {'Tops': 'The Striped Sweater',
         'Shoes': 'The Sleek Loafers',
         'Bottom': 'The Classic Jeans'}

collection.insert_one(record)

In [14]:
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'JahnaviRavi_Wardrobe' in Database:'JahnaviRavi' exists

In [15]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'JahnaviRavi' exists

In [16]:
# Verify COLLECTION
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'JahnaviRavi_Wardrobe' in Database:'JahnaviRavi' exists

### STEP 4: Insert multiple records

In [17]:

list_of_records = [
    {'Tops': 'The Button-Up',
     'Shoes': 'The White Sneakers',
     'Bottom': 'The Work Pants'},
    
    {'Tops': 'The White T-Shirt',
     'Shoes': 'The Ballet Flats',
     'Bottom': 'The Wrap Skirt'},
]

rec = collection.insert_many(list_of_records)

In [18]:
# lets print he unique ID that of the record that we have inserted -
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 639ac4b0af70f23f827bbc98
1. 639ac4b0af70f23f827bbc99

You can override the default unique Id by giving a user defined as shown below -

In [24]:
COLLECTION_NAME = "JahnaviRavi_Intrests"
Interests = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
    "Adventure": "Sky Diving",
    "Country": "NewZealand"},
    {"_id": "2",
    "Adventure": "Scuba Diving", 
    "Country": "Ecuador"}, 
]

interests_record= Interests.insert_many(list_of_records_user_defined_id)

### STEP 5: Find method in MongoDB

In [25]:
find_first_record = Interests.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
JahnaviRavi_Intrests is=
{'_id': '1', 'Adventure': 'Sky Diving', 'Country': 'NewZealand'}

In [26]:
# find all the record at once present in thr record with all the fields
all_record = Interests.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'Adventure': 'Sky Diving', 'Country': 'NewZealand'}
1: {'_id': '2', 'Adventure': 'Scuba Diving', 'Country': 'Ecuador'}

In [30]:
# find all the record at once present in the record with SPECIFIC fields
all_record = Interests.find({}, {"Adventure"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'Adventure': 'Sky Diving'}
1: {'_id': '2', 'Adventure': 'Scuba Diving'}

### STEP 6: Query or filter out data in MongoDB

In [32]:
query1 = {"_id": '1'}

results = Interests.find(query1)
for data in results:
    print(data)

{'_id': '1', 'Adventure': 'Sky Diving', 'Country': 'NewZealand'}

In [33]:
query2 = {"_id": {"$gt": "1"}}

results = Interests.find(query2)
for data in results:
    print(data)

{'_id': '2', 'Adventure': 'Scuba Diving', 'Country': 'Ecuador'}

### STEP 7: Delete one or many documents in MongoDB

In [35]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'Adventure': 'Cliff Jumping', 'Country': 'Italy'},
    {'_id': '4', 'Adventure': 'Water Skiing', 'Country': 'Florida'},
    {'_id': '5', 'Adventure': 'Cave Diving', 'Country': 'Bahamas'}
]

Interests.insert_many(random_data)

In [41]:
# Lets delete one document 
query_to_delete = {'Country': 'Ecuador'}

Interests.delete_one(query_to_delete)

In [40]:
# lets delete multiple record
multi_query_to_delete = {"_id": {"$gte": "4"}}

Interests.delete_many(multi_query_to_delete)

> **NOTE**: In order to delete all the documents present in the collection you can just pass and empty dictionary as shown below: -
```python
interests.delete_many({})
```

### STEP 8: Drop the entire collection

In [42]:
Interests.drop()

In [43]:
# Lets verify if the collection exists or not after dropping it
COLLECTION_NAME = "JahnaviRavi_Interests"
DB_NAME = "JahnaviRavi"
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'JahnaviRavi_Interests' in Database:'JahnaviRavi' does not exists OR
    no documents are present in the collection

### STEP 9: Update

In [44]:
COLLECTION_NAME = "JahnaviRavi_Wardrobe"

products = dataBase[COLLECTION_NAME]

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('639ac303af70f23f827bbc97'), 'Tops': 'The Striped Sweater', 'Shoes': 'The Sleek Loafers', 'Bottom': 'The Classic Jeans'}

{'_id': ObjectId('639ac4b0af70f23f827bbc98'), 'Tops': 'The Button-Up', 'Shoes': 'The White Sneakers', 'Bottom': 'The Work Pants'}

{'_id': ObjectId('639ac4b0af70f23f827bbc99'), 'Tops': 'The White T-Shirt', 'Shoes': 'The Ballet Flats', 'Bottom': 'The Wrap Skirt'}

In [60]:
present_data = {'Bottom': 'The Wrap Skirt'}
new_data = {"$set":{'Bottom': 'Jeans'}}

In [61]:
products.update_one(present_data, new_data)

In [62]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('639ac303af70f23f827bbc97'), 'Tops': 'The Striped Sweater', 'Shoes': 'The Sleek Loafers', 'Bottom': 'The Classic Jeans'}

{'_id': ObjectId('639ac4b0af70f23f827bbc98'), 'Tops': 'The Button-Up', 'Shoes': 'The White Sneakers', 'Bottom': 'The Work Pants'}

{'_id': ObjectId('639ac4b0af70f23f827bbc99'), 'Tops': 'The White T-Shirt', 'Shoes': 'The Ballet Flats', 'Bottom': 'Jeans'}

In [65]:
Interests.update_many(present_data, new_data)

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('639ac303af70f23f827bbc97'), 'Tops': 'The Striped Sweater', 'Shoes': 'The Sleek Loafers', 'Bottom': 'The Classic Jeans'}

{'_id': ObjectId('639ac4b0af70f23f827bbc98'), 'Tops': 'The Button-Up', 'Shoes': 'The White Sneakers', 'Bottom': 'The Work Pants'}

{'_id': ObjectId('639ac4b0af70f23f827bbc99'), 'Tops': 'The White T-Shirt', 'Shoes': 'The Ballet Flats', 'Bottom': 'Jeans'}

### STEP 9: Set limit to view N records

In [64]:
N_records = 2

N_record = products.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('639ac303af70f23f827bbc97'), 'Tops': 'The Striped Sweater', 'Shoes': 'The Sleek Loafers', 'Bottom': 'The Classic Jeans'}

{'_id': ObjectId('639ac4b0af70f23f827bbc98'), 'Tops': 'The Button-Up', 'Shoes': 'The White Sneakers', 'Bottom': 'The Work Pants'}